<!-- main content -->
        <section class="box">
			<div ng-controller="BookingController" class="container">
				<form name="mailBooking" method="post" action="send_email.php">
					<div class="row">
						<div class="col-md-12">
							<div class="text-dark-black text-center fancy-heading">
								<h1 class="font-700">{{BookNow}}</h1>
								<hr class="text-dark-black size-30 center-me">
								<br>			
							</div>
						</div>
					</div> <!-- /.row -->
					<div class="row booking-nav">
						<div class="col-md-4 col-sm-4 col-xs-4">
							<div class="text-center nav-step" data-target="1">
								<span></span>
								<h4 class="font-100">{{BookingInfo}}</h4>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
							<div class="text-center nav-step" data-target="2">
								<span></span>
								<h4 class="font-100">{{PersonalInfo}}</h4>
							</div>
						</div>
					</div>
					<div class="booking-slider">
						<ul class="clean-list">
							<li>
								<div class="row">
										<div class="grey booking-info">
											<div class="row">
												<div class="col-md-2 col-sm-3">
													<figure>
														<img ng-src="{{roomPath}}" alt="Room preview">
													</figure>
												</div>
												<div class="col-md-10 col-sm-9">
													<h3 class="blog-title text-dark-black font-300">{{RoomTittle}} (
													<span class="text-orange">$ {{RoomPrice}} / night </span>)</h3>
													<ol class="inline-list tag-list font-small">
														<li ng-repeat="feature in features">
															<p class="button-sm gold text-white hover-text-white">{{feature}}</p>
														</li>
													</ol>
													<div class="grey booking-form">
														<div class="col-md-2">
															<select class="cs-select cs-skin-elastic" id="roomSelected" name="room_selected" ng-change="roomChanged()" 
															ng-model="RoomSelected">
																<option disabled selected>Rooms</option>
																<option>Superior</option>
																<option>Deluxe</option>
																<option>Standard</option>
															</select>
														</div>
														<div class="col-md-2">
															<select ng-model = "NumberRoomsSelected" name="number_rooms" ng-change="roomsNumberChange()">
																<option disabled>{{Rooms}}</option>
																<option selected>1</option>
																<option>2</option>
																<option>3</option>
																<option>4</option>
																<option>5+</option>
															</select>
														</div>
														<div class="col-md-2">
															<select ng-model = "NumberAdultsSelected"
															ng-change="adultsChanged()" name="number_adults_selected">
																<option disabled>{{Adults}}</option>
																<option>1</option>
																<option>2</option>
																<option>3</option>
																<option>4</option>
															</select>
														</div>
														<div class="col-md-2">
															<select ng-model = "NumberChildrenSelected" name="number_child_selected">
																<option disabled>{{Children}}</option>
																<option>0</option>
																<option>1</option>
																<option>2</option>
																<option>3+</option>
															</select>
														</div>
														<br><br>
														<div class="row no-padding">
															<div class="col-md-2">
																<br/>
																<i class="icon-233"></i>
																<input type="text" id="check-in" placeholder="Check in" 
																ng-model = "CheckInSelected" ng-change="dateChanged()" name="check_in">
															</div>
															<div class="col-md-2">
																<br/>
																<i class="icon-233"></i>
																<input type="text" id="check-out" placeholder="Check out" name="check_out"
																ng-model = "CheckOutSelected" ng-change="dateChanged()" >
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div> <!-- /.row -->
							</li>
							<li>
								<div class="row">
									<div class="col-md-6">							
											<p>
												<input type="text" name="f_name" placeholder={{FirstName}} required>
											</p>
											<p>
												<input type="text" name="l_name" placeholder={{LastName}} required>
											</p>
											<p>
												<input type="email" name="email" placeholder={{Email}} required>
											</p>
											<p>
												<input type="tel" name="tel" placeholder={{PhoneNumber}} required>
											</p>
											<p>
												<textarea name="notices" cols="30" rows="10" {{Notes}}></textarea>
											</p>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-12">				
												<p>
													<input type="text" name="company_name" placeholder={{Company}}>
												</p>
												<p>
													<input type="text" name="country_name" placeholder={{Country}} required>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-xs-6">
										<a href="#" class="button-md gold nav-step" data-target="prev">Back</a>
									</div>
									<div class="col-md-6 col-xs-6">
										<p class="text-right">
											<button type="submit" name = 'submit' class="gold button-md soft-corners">{{Submit}}</button>
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</form>
			</div> <!-- /.container -->
		</section> <!-- /.box -->